<div class="card">
  <div class="card__header">
    <div class="card__price">
      {{ticket.price}} Р
    </div>
    <img src="{{ticket.carrier | logo}}" alt="company" class="card__image">
  </div>
  <div class="card__race race race_first">
    <div class="race__info info">
      <div class="info__title">
        {{ticket.segments[0].origin}} – {{ticket.segments[0].destination}}
      </div>
      <div class="info__data">
        {{ticket.segments[0].date | date:'HH.mm'}}
         –
        {{( ticket.segments[0].date) | raceEnd: ticket.segments[0].duration | date: 'HH.mm'}}
      </div>
    </div>
    <div class="race__info info">
      <div class="info__title">В пути</div>
      <div class="info__data  info__data_duration">
        {{ticket.segments[0].duration | duration}}
      </div>
    </div>
    <div class="race__info info">
      <div class="info__title">
        {{ticket.segments[0].stops.length | transfer}}
      </div>
      <div class="info__data">
        {{ticket.segments[0].stops}}
      </div>
    </div>
  </div>
  <div class="card__race race race_second">
    <div class="race__info info">
      <div class="info__title">
        {{ticket.segments[1].origin}} – {{ticket.segments[1].destination}}
      </div>
      <div class="info__data">
        {{ticket.segments[1].date | date:'HH.mm'}}
        –
        {{( ticket.segments[1].date) | raceEnd: ticket.segments[0].duration | date: 'HH.mm' }}
      </div>
    </div>
    <div class="race__info info">
      <div class="info__title">В пути</div>
      <div class="info__data  info__data_duration">
        {{ticket.segments[1].duration | duration}}
      </div>
    </div>
    <div class="race__info info">
      <div class="info__title">
        {{ticket.segments[1].stops.length | transfer}}
      </div>
      <div class="info__data">
        {{ticket.segments[1].stops}}
      </div>
    </div>
  </div>
</div>
