<div class="card">
  <div class="card__header">
    <div class="card__price">13 400 Р</div>
    <img src="" alt="company" class="card__image">
  </div>
  <div class="card__race race race_first">
    <div class="race__info info">
      <div class="info__title">MOW – HKT</div>
      <div class="info__data">10:45 – 08:00</div>
    </div>
    <div class="race__info info">
      <div class="info__title">В пути</div>
      <div class="info__data">21ч 15м</div>
    </div>
    <div class="race__info info">
      <div class="info__title">2 пересадки</div>
      <div class="info__data">HKG, JNB</div>
    </div>
  </div>
  <div class="card__race race race_second">
    <div class="race__info info">
      <div class="info__title">MOW – HKT</div>
      <div class="info__data">11:20 – 00:50</div>
    </div>
    <div class="race__info info">
      <div class="info__title">В пути</div>
      <div class="info__data">13ч 30м</div>
    </div>
    <div class="race__info info">
      <div class="info__title">1 пересадка</div>
      <div class="info__data">HKG</div>
    </div>
  </div>
</div>
